# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=1052b512811f24eae147356445709ae9e325c628c660747a9de57e9004d6160f5d3c0e707f3cd00bb7eef32b16e8dac454de96d0013b76d177a0e2bba22010dd
REDIS_URL=redis://localhost:6379/1
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
